*{margin:0}
div{position: relative;}
canvas{
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	margin: auto;
	padding: 30px;
	max-height: 90vh;
	max-width: 90vh;
	margin: 0 auto;
	display: table;
	margin: 0 auto;
	border-radius: 5em;
	
}
table{
	table-layout:fixed;width:100%
	
}
canvas{
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
}
td{overflow:scroll}
td span{font-size:2em}
hr{  margin:1em; width:100%;text-align:left;margin-left:0}
#log{font-size:1.1em}
img{height:100px;width:100px}

#righthand{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
#lefthand{
	
}

#results{
	text-align:center
}
footer {
	bottom:0;

	display:block;
	text-align:center;
	padding:2em
}
